/* This is all just styling, none of it is set in stone, this is pretty easy we should use it*/
#createaccountbutton {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: 600;
    -fx-background-radius: 15;
    -fx-padding: 16 24 16 24;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 8, 0, 0, 2);
}

#createaccountbutton:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.35), 12, 0, 0, 4);
    -fx-translate-y: -2;
}

#createaccountbutton:pressed {
    -fx-translate-y: 0;
    -fx-effect: none;
}

.user-buttons {
    -fx-background-color: #e2f4e1;
    -fx-background-radius: 3;
    -fx-border-color: #7fc77a;
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-text-fill: #409d39;
    -fx-font-family: "Segoe UI", "Liberation Sans", system-ui, sans-serif;
    -fx-font-size: 13px;
    -fx-font-weight: 400;
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-effect: innershadow(three-pass-box, rgba(255,255,255,0.7), 1, 0, 0, 1);
}

.user-buttons:hover,
.user-buttons:focused {
    -fx-background-color: #bdedb7;
    -fx-text-fill: #31ac57;
}
.user-buttons:focused {
    -fx-effect: dropshadow(three-pass-box, rgba(8, 255, 0, 0.15), 4, 0, 0, 0);
}

.form {
    -fx-background-color: white;
    -fx-padding: 20;
    -fx-border-radius: 20;
    -fx-background-radius: 15;
    -fx-max-width: 600;
    -fx-max-height: 500;
}

.label {
    -fx-font-weight: bold;
}

.text-field {
    -fx-pref-width: 300;
    -fx-padding: 12;
    -fx-border-color: #ccc;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-font-size: 14px;
}
.top-bar {
    -fx-background-color: #2e7d32;
    -fx-background-image: url("evergreenBank.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0px center;
    -fx-background-size: 150px auto;
    -fx-padding: 10 16 10 64;
}

.title {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.stack-pane, .content-root {
    -fx-padding: 24;
}

.top-bar-label {
    -fx-font-weight: bold;
    -fx-font-family: "Copperplate", "Georgia", system-ui, sans-serif;
    -fx-font-size: 25;
    -fx-text-fill: #000000;
    -fx-padding: 0 0 0 120;
}
.top-bar-label:hover {
    -fx-text-fill: white;
    -fx-underline: true;
}

#userRoot {
    -fx-background-color: linear-gradient(to bottom right, #ffffff, #bfecbf);
}

#welcomeLabel {
    -fx-font-weight: bold;
    -fx-font-family: "Copperplate", "Georgia", system-ui, sans-serif;
    -fx-font-size: 25;
    -fx-text-fill: #000000;
}

.error-label{
    -fx-font-weight: bold;
    -fx-text-fill: #FF0000;
}